{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier une actualité{% endblock %}

{% block body %}

    <div class="container-content">

        <h1 class="title">Modifier une actualité</h1>

        <div class="container admin-container">

            <a href="{{ path('article_index') }}">
                <button type="button" class="btn btn-light"><i class="fas fa-reply mr-2"></i> Retour aux actualités
                </button>
            </a>

            <div class="AdminForm">
                {{ form_start(form) }}
                {{ form_row(form.pictureFile) }}
                {{ form_row(form.section) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.date) }}
                <div class="d-flex justify-content-center">
                    <div class="adminUpdateButton mb-5">
                        {{ include('admin_article/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
