{% extends 'layout_admin.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

    <div class="container-content">

        <h1 class="title">Tous nos articles</h1>

        <div class="container-fluid admin-container admin-articles">

            <div class="m-5 d-flex justify-content-start">
                <a href="{{ path('article_new') }}">
                    <button class="btn btn-primary"><i class="fas fa-plus"></i> Créer un nouvel article</button>
                </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td> {% if article.filename %}
                                <img src="{{ vich_uploader_asset(article, 'pictureFile') }}" alt="image article" class="img-article">
                            {% endif %}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content|truncate(200) }}</td>
                        <td>{{ article.date ? article.date|date('d/m/Y H:i') : '' }}</td>
                        <td>
                            <div class="d-flex justify-content-around align-items-center">
                                <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-pen"></i></a>
                                {% include 'admin_article/_delete_form.html.twig' %}
                            </div>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
