{% extends 'layout_admin.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

    <div class="container-content">

        <h1 class="title">Actualités</h1>

        {% include '_backToTop.html.twig' %}

        <div class="container-fluid">

            <div class="mt-n5 mb-5 d-flex justify-content-start">
                <a href="{{ path('article_new') }}">
                    <button class="btn btn-primary"><i class="fas fa-plus"></i> Ajouter un article</button>
                </a>
                <a class="ml-5" href="{{ path('section_index') }}">
                    <button class="btn btn-secondary"><i class="fas fa-share mr-2"></i> Se rendre aux sections</button>
                </a>
            </div>
        </div>

        <div class="container admin-list-article">
            <div class="row no-gutters">
                <div class="col-lg-12 col-xs-1">
                    <div class="justify-content-around d-flex flex-wrap">
                        {% for article in articles %}
                            <div class="card">
                                <div class="card-body">

                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-end mt-n2 mb-2">
                                            <img src="{{ asset('build/images/BOUSSOLE_BLANC.png') }}"
                                                 alt="{{ article.section.name }}"
                                                 class="section-color rounded-circle"
                                                 style="background-color: {{ article.section.color }}">
                                        </div>

                                        <div class="badge d-flex justify-content-end mb-2">
                                            <div class="section">{{ article.section.name }}</div>
                                        </div>
                                    </div>

                                    {% if article.filename %}
                                        <img src="{{ vich_uploader_asset(article, 'pictureFile') }}" alt="image article"
                                             class="card-img-top">
                                    {% endif %}
                                    <h2 class="card-title">{{ article.title }}</h2>
                                    <p class="card-text">{{ article.content|striptags|truncate(200,true)|raw }}</p>
                                    <p class="date card-text">{{ article.date|date('d/m/Y H:i') }}</p>
                                    <div class="d-flex justify-content-between d-flex align-items-baseline">
                                        <a href="{{ path('article_edit', {'id': article.id}) }}"
                                           class="btn btn-primary mb-2 mt-4">
                                            <i class="fas fa-pen mr-2"></i> Modifier
                                        </a>
                                        {% include 'admin_article/_delete_form.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <h2 class="m-5">Aucune actualité à afficher actuellement.</h2>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
