{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5">Ajouter un nouvel article</h1>
        <div class="AdminForm">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {{ form_row(form.date) }}
            <div class="d-flex justify-content-center">
                <div class="adminAddButton">
                    <button class="btn btn-primary">Ajouter l'article</button>
                </div>
            </div>
        <hr/>
            <div class="d-flex justify-content-center"
                {{ include('admin_article/_form.html.twig') }}
            </div>
        <hr/>
        {{ form_end(form) }}
            <div class="d-flex justify-content-end">
                <div class="adminButtonBack">
                    <a href="{{ path('article_index') }}">
                    <button type="button" class="btn btn-dark">Revenir à la page de création d'un article</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
