{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block body %}
    <div class="container-content">
        <h1 class="title">Ajouter une actualité</h1>

        <div class="container mb-5">
            <a href="{{ path('article_index') }}">
                <button type="button" class="btn btn-secondary">Retour aux actualités</button>
            </a>
        </div>

        <div class="container admin-container admin-articles">
            <div class="AdminForm">
                {{ form_start(form) }}
                {{ form_row(form.pictureFile) }}
                {{ form_row(form.section) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.date) }}
                <div class="d-flex justify-content-center mb-5">
                    <button class="btn btn-primary">Ajouter l'article</button>
                </div>
                <div class="d-flex justify-content-center"
                {{ include('admin_article/_form.html.twig') }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
