{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block body %}
    <div class="container-content">
        <h1 class="title">Ajouter un nouvel article</h1>

        <div class="container admin-container admin-articles">
            <div class="AdminForm">
                {{ form_start(form) }}
                {{ form_row(form.pictureFile) }}
                {{ form_row(form.section) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.date) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">Ajouter l'article</button>
                </div>
                <hr/>
                <div class="d-flex justify-content-center"
                {{ include('admin_article/_form.html.twig') }}
            </div>
            {{ form_end(form) }}
            <div class="d-flex justify-content-end">
                <a href="{{ path('article_index') }}">
                    <button type="button" class="btn btn-light">Revenir à la page de création d'un article</button>
                </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
