{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="register-index background-register">

        <h1 class="title">Formulaire d'Inscription</h1>

        <div class="container register-form text-light p-5 w-100 bg-primary d-flex flex-column align-items-center">
            <div class="w-100">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.company) }}
                {{ form_row(registrationForm.function) }}
                {{ form_row(registrationForm.field) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.password.first) }}
                {{ form_row(registrationForm.password.second) }}
                <div class="gdpr mt-4">
                        Les informations recueillies vous concernant font l’objet d’un traitement destiné aux
                        dirigeants de SYN’OPS pour leurs fichiers internes. Ces données ne sont pas diffusées.
                        Conformément à la Législation en vigueur, vous bénéficiez d’un droit d’accès, de
                        rectification, de portabilité, d’effacement de celles-ci ou une limitation du traitement.
                        Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de
                        retirer votre consentement à tout moment en vous adressant à la direction de SYN’OPS.
                        Vous avez la possibilité d’introduire une réclamation auprès d’une autorité de contrôle.

                </div>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>

            <button class="btn btn-lg btn-warm-color mt-4" type="submit">
                S'inscrire
            </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
