<div class="container-fluid container-title">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">
            <h1 class="title">Nos dernières actualités </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">

            <div class="justify-content-around d-flex flex-wrap">

                {% for article in articles %}


                    <div class="card">
                        <div class="card-body">
                            {% if article.filename %}
                                <img src="{{ vich_uploader_asset(article, 'pictureFile') }}" alt="image article" class="card-img-top">
                            {% endif %}
                            <h2 class="card-title">{{ article.title }}</h2>
                            <p class="card-text">{{ article.content|truncate(250,true)|raw }}</p>
                            <p class="date card-text">{{ article.date|date('d/m/Y H:i') }}</p>
                            <a href="{{ path('article_show', {'slug': article.slug }) }}" class="card-link btn">Lire
                                l'article complet</a>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="all-articles">
    <a href="{{ path('article_list') }}">
        <button type="button" class="btn-lg m-5 btn-dark"> Liste des articles</button>
    </a>
</div>
