<div class="container-fluid container-title">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">
            <h1 class="title">Nos dernières actualités </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">

            <div class="justify-content-around d-flex flex-wrap">

                {% for article in articles %}

                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <img src="{{ article.picture }}" class="card-img-top" alt="article picture">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.content|truncate(250,true) }}</p>
                            <p class="date card-text">{{ article.date|date('d/m/Y H:i') }}</p>
                            <a href="{{ path('article_show', {'slug': article.title }) }}" class="card-link btn">Lire l'article complet</a>
                        </div>
                    </div>

                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="all-articles">
    <a href="{{ path('article_list') }}">
        <button type="button" class="btn-lg m-5 btn-dark"> Liste des articles</button>
    </a>
</div>

