<div class="container-fluid container-title">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">
            <h1 class="title">Nos enga&shy;gements</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 picture-align">
                <img src="{{ asset('build/images/compass_white.png') }}" class="card-img picture" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-0">
                    <h2 class="engagement-title">Accompa&shy;gnement sur mesure</h2>
                    <p class="card-text mt-5">
                        Nous acceptons seulement les missions qui entrent dans notre champ de compétences.
                        Toute proposition d’accompagnement fait l’objet d’un audit préalable, garantissant ainsi
                        des prestations « sur-mesure ». Pour les actions relatives à la formation professionnelle,
                        chaque proposition fait l’objet d’un programme.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 picture-align order-xl-last order-lg-last order-md-last">
                <img src="{{ asset('build/images/compass_white.png') }}" class="card-img picture" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-0">
                    <h2 class="engagement-title">Confidenti&shy;alité</h2>
                    <p class="card-text mt-5">
                        Nous appliquons le secret professionnel dans le cadre de toutes nos missions.
                        L’obligation de confidentialité est contractuelle. Les propos, informations, supports et
                        échanges recueillis lors de la mission d’accompagnement demeurent absolument
                        confidentiels.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 picture-align">
                <img src="{{ asset('build/images/compass_white.png') }}" class="card-img picture" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-0">
                    <h2 class="engagement-title">Analyse à 360°</h2>
                    <p class="card-text mt-5">
                        La complémentarité de nos profils au sein de l’équipe SYN’OPS nous permet autour de
                        chaque mission une analyse à 360°. Toutes les fonctions supports sont prises en compte
                        lors de nos intervention, et grâce à cette approche globale, le développement
                        stratégiques des organisations est optimisé.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 picture-align order-xl-last order-lg-last order-md-last">
                <img src="{{ asset('build/images/compass_white.png') }}" class="card-img picture" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body pt-0">
                    <h2 class="engagement-title">Valeurs</h2>
                    <p class="card-text mt-5">
                        <a href="{{ asset('build/PDF/plaquette.pdf') }}" target="_blank"><i class="fas fa-file-pdf text-danger"></i></a>
                        Téléchargement de la Charte Déontologie et Qualité SYN’OPS
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 picture-align">
                <img src="{{ asset('build/images/compass_white.png') }}" class="card-img picture" alt="...">
            </div>
            <div class="col-md-8 d-flex">
                <div class="card-body pt-0">
                    <h2 class="engagement-title">Empathie entrepreu&shy;nariale</h2>
                    <p class="card-text align-middle mt-5">
                        La société SYN’OPS réalise un accompagnement des dirigeants par des dirigeants. La
                        plupart de ce que vivent les clients, nous l’expérimentons également. Nous pratiquons
                        l’empathie entrepreneuriale pour affiner la compréhension de nos clients, à travers des
                        relations professionnelles positives et respectueuses.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
