<footer>
    <div class="container-fluid footer">
        <div class="row">

            <div class="d-flex justify-content-around col-lg-4 col-12 order-2">
                <address>
                    <p> SYN'OPS </p>
                    <p> 39 rue Kléber</p>
                    <p> 45400 Fleury-les-Aubrais </p>
                </address>
            </div>

            {% for team in teams %}
                <div class="d-flex justify-content-around col-lg-4 col-12 order-{{ loop.index }}">
                    <address>
                        <p> {{ team.firstname }} {{ team.lastname }} </p>
                        <p> {{ team.phone }} </p>
                        <p> {{ team.email }} </p>
                    </address>
                </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center">
            <a href="https://www.linkedin.com/company/syn-ops/"><i class="fab fa-linkedin fa-3x text-white"></i></a>
        </div>
    </div>
</footer>