<div class="container-fluid container-title">
    <div class="row no-gutters">
        <div class="col-lg-12 col-xs-1">
            <h1 class="title">L'ÉQUIPE</h1>
        </div>
    </div>
</div>

<div class="team-container container-fluid d-flex flex-wrap justify-content-around">

    {% for oneTeam in team %}
        <div class="team-card">
            <div class="picture-align mt-5">
                <div class="team-square bg-{{ loop.index0 is even ? 'warm-color' : 'secondary' }}"></div>
                <img src="{{ asset('build/images/'~ oneTeam.picture) }}" class="rounded-circle picture profile-picture" alt="...">
            </div>
            <h2 class="team-name m-5 d-flex justify-content-center">
                {{ oneTeam.firstname }}  {{ oneTeam.lastname }}
                <a href="{{ oneTeam.email }}"><i class="fab fa-linkedin ml-2"></i></a>
            </h2>
            <p>{{ oneTeam.description }}</p>
        </div>
    {% endfor %}

</div>
