{% extends 'layout_admin.html.twig' %}

{% block title %}Admin Membres{% endblock %}

{% block body %}
    <div class="admin-member">
        <h1 class="title">Membres en Attente</h1>


        <h2 class="title">Membres</h2>

        {% for user in users %}
            <div class="container">

                <div class="row member-row mt-5 mb-5">

                    <div class="col-lg-4 text-center ml-2">
                        <p class="font-weight-bold">{{ user.company }}</p>
                        <p class="text-secondary font-italic">{{ user.field }}</p>
                        <p>{{ user.email }}</p>
                    </div>

                    <div class="col-lg-4 ml-3">
                        <p>{{ user.firstname }} {{ user.lastname }}</p>
                        <p>{{ user.function }}</p>
                        <p>{{ user.phone }}</p>
                    </div>

                </div>
            </div>

        {% else %}

            <p>Aucun Utilisateur en base de donnée.</p>

        {% endfor %}
    </div>
{% endblock %}
