{% extends 'layout.html.twig' %}

{% block title %}Outils : {{ category.sector }}{% endblock %}

{% block body %}
    <h1 class="title container-content">{{ category.sector }}</h1>

    <div class="container-fluid deal tools">
        <div id="accordion">
            {% for tool in category.tools %}
                <div class="card">
                    <div class="card-header card_button" id="headingOne">
                        <button class="btn btn-link mb-3 text-left category_button" type="button"
                                data-toggle="collapse"
                                data-target="#collapse{{ tool.id }}"
                                aria-expanded="false" aria-controls="collapseOne">
                            <h2>{{ tool.name }} <i class="fas fa-chevron-down ml-5"></i><i
                                        class="fas fa-chevron-up ml-5"></i></h2>
                        </button>
                    </div>

                    <div id="collapse{{ tool.id }}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="icon">
                                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                                </div>
                                <p class="ml-5">{{ tool.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h1 class="title">Commentaires</h1>

    <div class="container">

        <h2 class="title-comment text-uppercase text-primary pl-3 mb-5">laisser un avis</h2>
        {{ include('comment/_form.html.twig') }}

        <h2 class="title-comment text-uppercase text-primary pl-3 mb-5">tous les avis</h2>
        {% for comment in comments %}
            <div class="comment">
                {{ comment.author.email }}
                {{ comment.comment }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
