{% extends 'layout.html.twig' %}

{% block title %}Outils : {{ category.sector }}{% endblock %}

{% block body %}

    <h1 class="title container-content">{{ category.sector }}</h1>

    <div class="container deal">
        <div id="accordion">
            {% for tool in category.tools %}
                <div class="card">
                    <div class="card-header card_button" id="headingOne">
                        <button class="btn btn-link mb-3 text-left category_button" type="button" data-toggle="collapse"
                                data-target="#collapse{{ tool.id }}"
                                aria-expanded="false" aria-controls="collapseOne">
                            <h2>{{ tool.name }} <i class="fas fa-chevron-down ml-5"></i><i
                                        class="fas fa-chevron-up ml-5"></i></h2>
                        </button>
                    </div>

                    <div id="collapse{{ tool.id }}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eaque fuga pariatur
                            quam
                            vitae! Ab distinctio dolore non placeat quasi! Eaque enim, facilis inventore porro repellat
                            ullam. Doloremque nobis, sed!
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
