{% extends 'base.html.twig' %}

{% block title %}Boîte à outils{% endblock %}

{% block body %}
    <h1>Boîte à outils</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tool in tools %}
            <tr>
                <td>{{ tool.id }}</td>
                <td>{{ tool.name }}</td>
                <td>
                    <a href="{{ path('tool_show', {'id': tool.id}) }}">show</a>
                    <a href="{{ path('tool_edit', {'id': tool.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tool_new') }}">Create new</a>

{% endblock %}
