{% extends 'layout_admin.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <h1>Team index</h1>

    <div class="container-content">

        <h1 class="title">L'équipe</h1>

        <div class="container-fluid admin-container ">

            <div class="m-5 d-flex justify-content-start">
                <a href="{{ path('team_new') }}">
                    <button class="btn btn-primary"><i class="fas fa-plus"></i> Nouveau membre de l'équipe</button>
                </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>LinkedIn</th>
                    <th>Carrière</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td>{{ team.firstname }}</td>
                        <td>{{ team.lastname }}</td>
                        <td>{{ team.email }}</td>
                        <td>{{ team.description|striptags }}</td>
                        <td> {% if team.imagename %}
                                <img src="{{ vich_uploader_asset(team, 'imageFile') }}" alt="image equipe" class="img-team">
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex justify-content-around align-items-center">
                                <a href="{{ path('team_edit', {'id': team.id}) }}"><i class="fas fa-pen"></i></a>
                                {% include 'admin_team/_delete_form.html.twig' %}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
