{% extends 'layout_admin.html.twig' %}

{% block title %}Boîte à outils{% endblock %}

{% block body %}

    <div class="container-content admin_tool">
        <h1 class="title">Boîte à outils</h1>

        <div class="container">
            <div class="button_tool mr-5 mb-5 d-flex justify-content-start">
                <a href="{{ path('tool_new') }}">
                    <button class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Ajouter une sous-catégorie</button>
                </a>
            </div>
            <div class="button_tool mr-5 mb-5 d-flex justify-content-start">
                <a href="{{ path('document_new') }}">
                    <button class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Ajouter un outil</button>
                </a>
            </div>
        </div>
        <div class="accordion row justify-content-center" id="accordionDeals">

            <div class="card">
                {% for category in categories %}
                    <div class="card-header card_button" id="headingOne">
                        <button class="btn btn-link category_button mb-3" type="button" data-toggle="collapse"
                                data-target="#collapse{{ category.id }}"
                                aria-expanded="false" aria-controls="collapseOne"><h3>{{ category.sector }}<i
                                        class="fas fa-chevron-down ml-5"></i><i class="fas fa-chevron-up ml-5"></i>
                            </h3>
                        </button>
                    </div>
                    {% for tool in category.tools %}
                        <div id="collapse{{ category.id }}" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionDeals">
                            <div class="card-body tool_card ml-2">
                                <i class="fas fa-1x fa-angle-double-right mr-3"></i>{{ tool.name }}
                                <a href="{{ path('tool_edit', {'id': tool.id}) }}">
                                    <button class="btn align-text-bottom text-primary"><i
                                                class="fas fa-pen fa-2x ml-5"></i>{{ include('admin_tool/_delete_form.html.twig') }}
                                    </button>
                                </a>
                            </div>
                            {% for document in tool.documents %}
                                <div class="card-body tool_card ml-5">
                                    <i class="fas fa-angle-right mr-3"></i>{{ document.description }}
                                    <a href="{{ path('document_edit', {'id': document.id}) }}">
                                        <button class="btn align-text-bottom text-primary"><i
                                                    class="fas fa-pen fa-2x ml-5"></i>{{ include('admin_document/_delete_form.html.twig') }}
                                        </button>
                                    </a>
                                </div>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Aucun outil à afficher actuellement.</td>
                                    </tr>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="m-5">Aucune sous-catégorie à afficher actuellement.</h2>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
