{% extends 'base.html.twig' %}

{% block title %}Les outils{% endblock %}

{% block body %}
    <h1>Boîte à outils</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro de l'outil</th>
                <td>{{ tool.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'outil</th>
                <td>{{ tool.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tool_index') }}">Retour aux outils</a>

    <a href="{{ path('tool_edit', {'id': tool.id}) }}">Éditer</a>

    {{ include('admin_tool/_delete_form.html.twig') }}
{% endblock %}
