{% extends 'layout.html.twig' %}

{% block title %}Toutes nos actualités{% endblock %}

{% block body %}

    {% include '_backToTop.html.twig' %}

    <div class="container-content">
        <h1 class="title">Liste des articles</h1>
    </div>

    <div class="container">
        <div class="col-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary"><i class="fas fa-search mr-2"></i> Rechercher</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container-fluid articles">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <div class="row justify-content-around d-flex flex-wrap">
                    {% for article in articles %}
                        <div class="card">
                            <div class="card-body">

                                {% if article.filename %}
                                    <img src="{{ vich_uploader_asset(article, 'pictureFile') }}" alt="image article"
                                         class="card-img-top">
                                {% endif %}

                                <h2 class="card-title">{{ article.title }}</h2>
                                <p>{{ article.section.name }}</p>
                                <p class="card-text">{{ article.content|truncate(500,true)|raw }}</p>
                                <p class="card-text date">
                                    {{ article.date ? article.date|date('d/m/Y H:i') : '' }}
                                </p>
                                <a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn btn-primary">Lire
                                    l'article complet</a>
                            </div>
                        </div>
                    {% else %}
                        Pas d'actualités pour le moment.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="pagination d-flex flex-column align-items-center">

        <a href="{{ path('index') }}">
            <button type="button" class="btn btn-dark btn-lg m-3">Retour à l'accueil</button>
        </a>

        <p><small>Vous êtes sur la <b>page {{ page }}</b></small></p>

        <div class="buttons">
            {% if page <= 1 %}
                <div class="btn btn-inactive m-2">
                    <i class="fas fa-angle-double-left"></i> Précédent
                </div>
            {% else %}
                <a href="{{ path('article_list', {'page': page-1 }|merge(app.request.query.all)) }}"
                   class="btn btn-primary m-1">
                    <i class="fas fa-angle-double-left"></i> Précédent
                </a>
            {% endif %}

            {% if page < nbPages %}
                <a href="{{ path('article_list', {'page': page+1 }|merge(app.request.query.all)) }}"
                   class="btn btn-primary m-1">
                    Suivant <i class="fas fa-angle-double-right"></i>
                </a>
            {% else %}
                <div class="btn btn-inactive">
                    Suivant <i class="fas fa-angle-double-right"></i>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}
